<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Dance Calendar</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel=stylesheet href="style.css">
</head>
<body>

<div class="month">

<% @days.each do |day| %>
<% if day[:date].day == 1%>
</div>
<div class="month">
<% end %>
<% weekend =  (day[:date].wday== 6 or day[:date].wday== 0)%>
<div class="day <%= "weekend" if weekend%>">
	&nbsp;
	<span class="date"><%= day[:date].strftime("%a %b %e") %></span>
	<span class="details">
  <% if day[:events]%>
    <% day[:events].each do |event| %>
		 <%= event.summary%>
    <% end %>
	<% end %>
	</span>
</div>
<% end%>
</div>
</body>
</html>