* {margin:0;padding:0;} 
body {font-family: georgia,times;}
h1 {font-family: helvetica,arial,sans-serif;font-weight: bold; font-size: 30px; text-align: center; margin: 8px 0;}
h2 {font-size:20px; text-align: left; font-weight: normal; margin: 8px 0;}

html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 50px; min-height: 100%;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -50px; /* negative value of footer height */
	background: #654b24 url(images/ui-bg_fine-grain_65_654b24_60x60.png) 50% 50% repeat;
	border-top: 8px solid #654b24;

	height: 42px;
	clear:both;}






/*Override font settings from jQuery*/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family: georgia,times; font-size:11px;}



/* clear fix utility */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}