* {margin:0;padding:0;} 
body {font-family: 'century gothic';}
h1 {font-weight: bold; font-size: 30px; text-align: center; margin: 8px 0;}
h2 {font-size:20px; text-align: left; font-weight: normal; margin: 8px 0;}

html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 50px; min-height: 100%;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -50px; /* negative value of footer height */
	background-color: black;
	height: 50px;
	clear:both;
}









/* clear fix utility */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}