body {font-family: georgia,times;}
h1 {font-family: helvetica,arial,sans-serif;font-weight: bold; font-size: 30px; text-align: center;}
h2 {font-size:20px; text-align: left; font-weight: normal;}


/* clear fix utility */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}