/* Weekly View */


html.plans body.weekly div#weekly table {border-spacing: 0px;}
html.plans body.weekly div#weekly table td{border-bottom: 1px solid black;}
html.plans body.weekly div#weekly td.date {background-color: #9B8ECF; text-align: center; padding:0.3em;}
html.plans body.weekly div#weekly td.lessons { text-align: center; padding:0.3em;}
html.plans body.weekly div#weekly span.legend{font-size:0.7em;}