/*daily view on plans controller*/
html.plans body.daily .month{margin-top:2px;}


/*weekly view on plans controller*/
html.plans body.weekly table {border-collapse: collapse;} /*odd but works in IE as well*/
html.plans body.weekly table tr.event td{border-bottom: 1px solid #999; position: relative;}
html.plans body.weekly table tr.primary_event td{border-bottom: 1px solid red; position: relative;}

html.plans body.weekly table tr div.events{position: absolute}
html.plans body.weekly table tr div.events span.secondary{background: #999; padding-left:4px;}
html.plans body.weekly table tr div.events span.primary{background: red; padding-left:4px;}
