/* General Layout Styles */
.central {width: 800px; margin: 0 auto; background-color: green;}

/* Header footer etc styles */
#header {background-color: #222; padding-bottom: 5px;}
#header .central {background-color: #222;} /*This line can be removed later*/
#header #title_banner{
  display: block; 
  float: left; 
  background-color: #777;
  padding: 0.3em;
  margin-top: 0.4em;
  -webkit-border-radius: 5px;
}
#header #title_banner a{display: block; color: white; text-decoration: none;}
#header #account_nav{float:right; margin-top: 0.4em;}
#header #account_nav ul{list-style-type: none;}
#header #account_nav ul li {
  display: block; 
  float: left; 
  background-color: #777;
  padding: 0.3em 0.5em;
  margin-left: 0.2em;
  -webkit-border-radius: 5px;
}
#header #account_nav ul li a {color: white; text-decoration: none;}

/* Main Body Styles */
#main{padding-top: 1em;}

/* Main Col Styles */
#main_col{border: 5px solid #9B8ECF ; float: left; width:690px;}

/* Side Nav Styles */
#nav_col{width: 100px; float: left;}
#nav_col ul{list-style-type: none;}
#nav_col ul li{background-color: #222; padding: 0.3em;}
#nav_col ul li a {display: block;color:white; text-decoration:none;}
#nav_col ul li.selected{background-color: #9B8ECF;}
#nav_col ul li.selected a{color: #222;}

/* Date range (on Calendar view) styles */
#date_range{background-color: #9B8ECF; padding: 0.5em;}

/* Datepicker (JQuery Datepicker)*/
#ui-datepicker-div{
  border: 1px solid #9B8ECF; 
  background-color: white;
  width: 200px;
}
#ui-datepicker-div .ui-datepicker-header{background-color:#9B8ECF; padding: 10px;}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next{
  background-image: url("/stylesheets/images/next-arrow.png");
  background-repeat:no-repeat;
  float: right;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span{visibility:hidden;}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev{
  background-image: url("/stylesheets/images/prev-arrow.png");
  background-repeat:no-repeat;
  float: left;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span{visibility:hidden;}
table.ui-datepicker-calendar th, table.ui-datepicker-calendar td{
  width: 50px;
  text-align: center;
} 
table.ui-datepicker-calendar a{text-decoration: none; color: #9B8ECF; }

