/*Header*/
#header {color: #FFFFFF; background: #654b24 url(images/ui-bg_fine-grain_65_654b24_60x60.png) 50% 50% repeat; height: 70px;}
#header_bottom_border{background: #654b24; height:8px; margin-bottom:20px;}
#user_nav {float: right; font-size: 0.9em; background: #f7f3de url(images/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat; color: #3a3427; margin: 20px 0 0 0; padding: 3px; color:black;}
#user_nav a{color:black;}
#title_banner{float: left; background: #f7f3de url(images/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat; color: #3a3427; margin: 20px 0 0 0; padding: 3px; color:black;}
#title_banner span{font-size: xx-large;}

/*flash message*/
div#flash{border: 1px solid black; background: green; text-align: center;}

/*Central column for centering*/
.central{width: 800px; margin: 0 auto;}

/*Primary and secondary event colourings*/
.secondary{border: 1px solid #b2a266; background: #f7f3de url(images/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat; color: #3a3427; }
.primary{border: 1px solid #681818; background: #b83400 url(images/ui-bg_fine-grain_68_b83400_60x60.png) 50% 50% repeat; color: #ffffff; }

.hidden{display:none;}

/*Controls for the top of a div (eg user, plan etc)*/
.controls form.button-to{float:right;}

/*Login form (also used for forgotten password)*/
div#login_form{border: 20px solid #654b24; background: #f7f3de url(images/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat ; width:400px; margin: 0 auto; padding:10px;}
div#login_form form.main_form{width:380px; margin: 0 auto; padding:10px;}
div#login_form form.main_form h1{text-align: left;}
div#login_form form.main_form h1 a{font-size:20px;}
div#login_form form.main_form div{margin-bottom: 10px;}
div#login_form form.main_form input[type="text"]{width:100%;}
div#login_form form.main_form input[type="password"]{width:100%;}


/*weekly div */
div#weekly table {border-collapse: collapse;} /*odd but works in IE as well*/
div#weekly table tr td{border: 1px solid #ccc; text-align: center;}
div#weekly table tr td.event_details {border: 0px;  position: relative;}
div#weekly table tr.event td{border-bottom: 2px solid #140F06; position: relative;}
div#weekly table tr.primary_event td{border-bottom: 2px solid #140F06; position: relative;}
div#weekly table tr div.events{position: absolute}
div#weekly table tr div.events span{padding: 0 4px 0 4px; font-size:large; }
div#weekly div#events_list{float:left; width: 380px;}
div#weekly div#next_event{float:left; width: 360px;}

/*Event detail box*/
.event_detail{padding:10px; width: 340px; height: 145px; float: left; margin: 10px;}
.event_detail h2{margin:0;}
.event_detail div{margin-bottom:4px;}
.counter{border: 1px solid #b2a266; background: #f7f3de url(images/ui-bg_fine-grain_15_f7f3de_60x60.png) 50% 50% repeat; color: #3a3427; }
.counter{font-size: x-large; border: 1px solid black; padding: 0 4px 0 4px;}

/*daily div*/
div#daily table {border-collapse: collapse;} /*odd but works in IE as well*/
div#daily table tr td{border: 1px solid #ccc; text-align: center; padding: 0 4px 0 4px; color:black;}
div#daily table tr.weekend{ background: #FFC;}
div#daily table tr.lesson{ background: #0F0;}
div#daily div#events_list{float:left; width: 400px;}
div#daily div#next_event{float:left; width: 400px;}

/*events div*/
#events .event{height: 60px;}
#events .new_event{border: 1px solid #b2a266; background: white; height: 80px;}
#events .new_event INPUT[type='submit']{margin-top: 19px;}
#events .new_event .center{text-align: center;}
#events .event h2{float:left; margin: 4px;}
#events .event .date{float:right; margin: 4px;}
#events .event .commands{font-size: small; float:right; margin: 4px;}
#events form div.inputs {margin-bottom: 10px;}
#events form div.inputs div {float:left; margin-left: 10px;}

/*lessons div*/
#lessons .lesson {height: 60px; border: 1px solid #b2a266;}
#lessons .lesson  h2{float:left; margin: 4px;}
#lessons .lesson  .date{float:right; margin: 4px;}
#lessons .lesson  .commands{font-size: small; float:right; margin: 4px;}
#lessons form div.inputs {margin-bottom: 10px;}
#lessons form div.inputs div {float:left; margin-left: 10px;}


