.month {
	margin-top:2px;
}

.day {
clear:both;
border:black solid 1px;
width:100%;
background:lightBlue;
}

.weekend{
	background: pink;
}
.date {
float:left;
text-align: right;
width:100px;
background:pink;
}
.details {
margin-left:10px;
}
