<div id="splash">
	<div id="description">
		<h1>The best way to plan your performances</h1>
		<h2>ThePlanFor.us is an excellent way to plan ahead for your events,
			performances and competitions</h2>
			<a href="<%= prices_path %>">
				<div id="signup" class="ui-corner-all">
					<span class="cta">Free Individual Plan</span><br/>
					See all price plans
				</div>
			</a> 
	</div>
	<div id="picture">
		<img src="/images/screen_shot.png"/>
	</div>
</div>

<div id="details">
	<div id="description_2">
		<h2>Great for professional musicians, or sports competitors. ThePlanFor.us is designed to
			help you prepare for major competitions or performances - from planning your lessons schedule, 
			to working out when you need extra training or rehersals.</h2>  
	</div>
	<div id="features">
		<div class="feature ui-corner-all">
			<h3>Create Event Schedules</h3>
		</div>
		
		<div class="feature ui-corner-all">
			<h3>Integrate with your calendar </h3>
		</div>
		
		<div class="feature ui-corner-all">
			<h3>View your timeline</h3>
		</div>
	</div>	
</div>