<div id="splash">
	<div id="description">
		<h1>The best way to plan your performances</h1>
		<h2>ThePlanFor.us is an excellent way to plan ahead for your events,
			performances and competitions</h2>
			<a href="">
				<div id="signup" class="ui-corner-all">
					See Plans and Pricing
				</div>
			</a> 
	</div>
	<div id="picture">
		
	</div>
</div>

<div id="details">
	<div id="description_2">
		
	</div>
	<div id="features">
		
	</div>
</div>