<% @page_title = "Home" %>
<% @page_description = "A way to plan for events like sports competitions or musical rehearsals. 
Anything that needs time to prepare for and has a fixed date." %>
<% @page_keywords = "plan, events, sports, competitions, competition, dance, music" %>

<div id="splash">
	<div id="description">
		<h1>The best way to plan your performances</h1>
		<h2>ThePlanFor.us is an excellent way to plan ahead for your events,
			performances and competitions</h2>
			<a href="<%= prices_path %>">
				<div id="signup" class="ui-corner-all">
					<span class="cta">Free Individual Plan</span><br/>
					See all price plans
				</div>
			</a> 
	</div>
	<div id="picture">
		<img src="/images/screen_shot.png"/>
	</div>
</div>

<div id="details">
	<div id="description_2">
		<h2>Great for professional musicians, or sports competitors. ThePlanFor.us is designed to
			help you prepare for major competitions or performances - from planning your lessons schedule, 
			to working out when you need extra training or rehersals.</h2>  
	</div>
	<div id="features">
		<div class="feature ui-corner-all">
			<h3>Create schedules integrated with your calendar</h3>
		</div>
		
		<div class="feature ui-corner-all">
			<h3>View a weekly or daily timeline</h3>
		</div>
		
		<div class="feature ui-corner-all">
			<h3>Follow us on twitter <a href="http://twitter.com/planforus">@planforus</a></h3>
		</div>
	</div>	
</div>