<% @page_title = "Home" %>
<% @page_description = "A way to plan for events like sports competitions or musical rehearsals. 
Anything that needs time to prepare for and has a fixed date." %>
<% @page_keywords = "plan, events, sports, competitions, competition, dance, music" %>

<div class="clearfix">
	<div id="headline">
		<h1 id="dance_timeable_planning">Dance Timeable Planning</h1>
		<h2>Keep track of lessons and competitions</h2> 
		<h3>An easy to view display helps you make sure you book lessons when you most need them</h3>
	</div>

	<div id="screenshot">
		<img src="/images/screen_shot.png"/>
	</div>	
</div>

<div id="features">
	and then some more cool stuff
	
</div>