<h1>Our price plans</h1>
<div id="price_plans">
	<table>
		<tr>
			<th></th>
			<th>Free</th>
			<th>Individual</th>
			<th>Small Team</th>
			<th>Big Team</th>
		</tr>
		<tr>
			<td class="feature">Timeline</td>
			<td>3 Months</td>
			<td>1 Year</td>
			<td>1 Year</td>
			<td>1 Year</td>
		</tr>
		<tr>
			<td class="feature">Number of Plans</td>
			<td>1</td>
			<td>3</td>
			<td>10</td>
			<td>30</td>
		</tr>
		<tr>
			<td class="feature">Share your plan with</td>
			<td>No one</td>
			<td>1 Person</td>
			<td>5 People</td>
			<td>30 People</td>
		</tr>
		<tr>
			<td class="feature">Calendar Integration</td>
			<td>No</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td class="feature">Price</td>
			<td>Free</td>
			<td>$5 per month</td>
			<td>$10 per month</td>
			<td>$20 per month</td>
		</tr>
		<tr>
			<td></td>
			<td><a href="<%= signup_url(:plan => "free") %>"><div class="signup">Sign Up</div></a></td>
			<td><a href="<%= signup_url(:plan => "individual") %>"><div class="signup">Sign Up</div></a></td>
			<td><a href="<%= signup_url(:plan => "small_team") %>"><div class="signup">Sign Up</div></a></td>
			<td><a href="<%= signup_url(:plan => "big_team") %>"><div class="signup">Sign Up</div></a></td>
		</tr>
		
		</table>
</div>