<h1>Our price plans</h1>
<div id="price_plans">
	<table>
		<tr>
			<th></th>
			<th>Free</th>
			<th>Individual</th>
			<th>Team</th>
			<th>Professional Team</th>
		</tr>
		<tr>
			<td class="feature">Timeline</td>
			<td>3 Months</td>
			<td>1 Year</td>
			<td>1 Year</td>
			<td>1 Year</td>
		</tr>
		<tr>
			<td class="feature">Number of Plans</td>
			<td>1</td>
			<td>3</td>
			<td>10</td>
			<td>30</td>
		</tr>
		<tr>
			<td class="feature">Teammates</td>
			<td>No one</td>
			<td>1 Person</td>
			<td>5 People</td>
			<td>30 People</td>
		</tr>
		<tr>
			<td class="feature">Planners</td>
			<td>No one</td>
			<td>1 Person</td>
			<td>5 People</td>
			<td>30 People</td>
		</tr>
		<tr>
			<td class="feature">Calendar Integration</td>
			<td>No</td>
			<td>Yes</td>
			<td>Yes</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td class="feature">Price</td>
			<td>Free</td>
			<td>$3 per month</td>
			<td>$5 per month</td>
			<td>$10 per month</td>
		</tr>
		<tr>
			<td></td>
			<td><a href="<%= signup_url(:plan => "free") %>"><div class="signup">Sign Up</div></a></td>
			<td><a href="<%= signup_url(:plan => "individual") %>"><div class="signup">Sign Up</div></a></td>
			<td><a href="<%= signup_url(:plan => "small_team") %>"><div class="signup">Sign Up</div></a></td>
			<td><a href="<%= signup_url(:plan => "big_team") %>"><div class="signup">Sign Up</div></a></td>
		</tr>
		</table>
</div>

<div id="timeline" class="feature_description">
	<h2>Timeline</h2>
	<p>The timeline is how far ahead you can see your plan visually. </p>
	<p>The longer the timeline is the better ability you will have to plan ahead. 
	Sometimes the only way you can book lessons and spaces for your training is with a lot of notice. 
	If you need to travel for your events, then advanced planning of flights and accommodation will result in really
	big savings.</p>
</div>


<div id="teamates" class="feature_description">
	<h2>Teammates</h2>
	<p>Teammates are people who work or train with you, that you want to be able to see your plans.</p> 
</div>


<div id="planners" class="feature_description">
	<h2>Planners</h2>
	<p>Planners are people who share ownership of the plan with you. Unlike teammates, planners can edit your plans. 
</div>


<div id="calendar integration" class="feature_description">
	<h2>Calendar Integration</h2>
	<p>As well as viewing your plan on our site, you can connect it to your digital calendar. Google Calendar, ICal (on the mac), Outlook (on pc), or
		any other calendar tool that can subscript to a ".ical" address. This is great if you want to plan things, and then have them appear on your iPhone
		while you are out and about. 
</div>