<h1>We are not quite ready for you</h1>

<p>We are still adding the finishing touches to our service, so are not 
	accepting new users. <br/>Don't worry though, everything will be up and running soon.</p>
	<br/>
<p>If you would like to be notified when we are ready for you, <br/>please enter your e-mail
	address below and we will be in touch soon</p>
	<br/>
	<% form_tag(leads_url) do  %>
	 <div class="inputs clearfix">
	  <div>
	    <%= label_tag :email %><br />
	    <%= text_field :lead, :email %>
	  </div>

	</div>
	  <div>
	    <%= submit_tag 'Submit' %>
	  </div>
	<% end %>