<% @page_title="Tutorial | Music Gig"%>  
<% @page_description = "Only the free plan is currently available. Premium plans are not yet ready." %>
<% @page_keywords = "plan, subscription, pay, premium, not ready" %>


<h1>Planning for a music gig</h1>

<p>In this story I want to show you how you can use ThePlanForUs to plan for
an upcoming musical gig.</p>
	
<p>James is the lead guitarist in a band, and has just been asked to open the set
for a big festival. Its a big opportunity for James and his band: Mark (the drummer) and Deborah (singer).
They want to put on a show that is better than anything they have done in the small venues 
where they play most of their gigs, and know that they need to start preparing for it now. </p>

<p>The concert is 7 months away, and James is worried that as it seems so far away he won't be
able to work towards this goal effectively. Using TheTheForUs he creates a new plan, 
and puts the date of the concert, July 20th in as a major event. He then rings up Phil, 
a promotions guy who has got him several gigs recently, and asks what he can book them 
in for before July. </p>

<p>Phil come up with 3 bookings, a wedding at the end of February, a pub evening in April, and
a school prom in June. James accepts each of these gigs, and puts them into ThePlanForUs as minor 
events.</p>

<p>For the July concert, James wants to play a solo he has always wanted to play, but has never
managed to master. He figures the best way to do this is to book a couple of lessons with 
a really great teacher who can help him work out his problems. So he gets on the phone, and talks 
to Smash, a world famous guitarist who has recently started teaching. The problem is Smash has 
so many people asking for lessons, than he can do 1 hour mid January, one mid February, and then two in
early July.  He puts all these times into ThePlanForUs. </p>

<p>Looking at the weekly timeline between now and the concert, James realises that
there are not many lessons with Smash, and he might need more help to get that solo as 
awesome as he wants it. He can see the big gap between the hours he has booked in February, and July
and decides that lessons with a more available teacher will help, even if they are not as good. So he 
books fortnightly lessons with his old high school guitar teacher. </p>

<p>Meanwhile he realises that lessons and working on his solo at home won't make his band sound great. They need
lots or practice together. None of them have a garage, so they have to book practice time. He rings the venue they
use and discovers he can book it twice a week till May, but then its closed till August. With no where to practice
there is no way their performance will be polished. So he enters all the practice  times into ThePlanForUs, and 
starts ringing round other venues. He finds one, and discovers they are very cheap, with great facilities. This is great
but means their bookings fill up months in advance. However May, June, and July are still far enough in the future than he
can book them now. All this information goes into ThePlanForUs, and he adds Mark and Deborah as teammates so they 
can also see the plan. He also subscribes to his ThePlanForUs ical stream in google calendars, which he has set up
on his iPhone so that he can see all his bookings in the calendar app. </p>

<p>Mark looks at the plan, and notices that their pub gig clashes with a trip to visit his parents he was planing in April. The date
for that are not set yet, so he rings his parents, and arranges to visit them the next week, after the gig. </p>

<p>James works on his solo with Smash in January and February, but isn't ready to play it at the wedding in February. He decides
he is going to play some sort of solo at the pub gig. He concentrates on just the first half of the solo, and Deborah prepares a vocal 
piece to use the rest of the time the solo would take. By the school prom in June, he can play the solo start to finish, and does so. Though 
he isn't yet happy with some parts of it. He works works hard with his old high school guitar teacher, and when
he goes back to Smash in July he can play his solo with no mistakes. So they work on some embellishments to make it stand out 
even more.</p>

<p>By the 20th July, they have had 7 months of regular practice and are feeling really confident. They get up on stage, and 
James dives into his solo, knowing he can play it without mistakes, and loving being able to embellish it with his own
additions. The crowd loves it, and as they come off stage, they are approached by another promoter, asking if they
will headline for a winter festival he is organising in December...</p> 

