<div class="event_detail <%= event_class(event) %>">
<h2><%= event.name %></h2>
<span class="counter"><%= event.preceeding_lessons.size %></span> Lessons remaining beforehand
<br>
<span class="counter"><%= event.preceeding_events.size %></span> Events remaining beforehand
</div>