<div id="events">
	<div class="event new_event">
		<div class="clearfix"><h2>Add new event</h2></div>

	 <%= render :partial => "events/form", :locals => {:plan => plan}%>
	</div>
	
	<%= render :partial => events %>
</div>