<ul class="months">
<% @lessons.group_by{|l| l.date.strftime("%B")}.each do |month, lessons| %>
	<li><%= month %></li>
	<ul class="lessons">
		<% lessons.each do |lesson| %>
			<li><%= lesson.date.strftime("%A %e @ %H:%M") %><%= lesson.description %></li>
		<% end  %>
	</ul>
<% end %>
</ul>