<tr class="<%= week_class(week) -%>">
	<td><%= week.number %></td>
	<td><div class="events"><%- week.events.each do |event| -%>
		  <span class="<%= event_class(event) -%>">
			  <%=  event.summary -%>
			</span>
	    <%- end -%></div></td>
</tr>