<div class="dominant_form">
	<h1>New plan</h1>

	<div class="form_description">
		Create a new plan. <br/>After creating it you will be able to add events
	</div>

	<% form_for(@plan) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
	
</div>

